table {
  margin-top: 10px;
  width: 100%;
}

.edit{
  margin-right: 20px;
}

.edit > i {
  color: #528fb8;
}

.delete > i {
  color: #e35e6b;
  cursor: pointer;
}

.filter{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 25px;
}

